.profile-modal {
    background: #181622;
    width: 320px;
    border-radius: 10px;
    border: 1px solid #34293e;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    overflow: hidden;

    .profile-header {
        display: flex;
        flex-direction: column;
        background: #232030;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #34293e;
    }

    .profile-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #34293e;
        margin: 0 auto 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #cdc1b4;
        border: 3px solid #9175b6;
    }

    .profile-name {
        display: grid;
        place-items: center;
        font-size: 24px;
        color: #b6a3cc;
        margin-bottom: 5px;
    }

    .profile-actions {
        padding: 20px;
    }

    .profile-btn {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background: #34293e;
        color: #cdc1b4;
        border: none;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;
    }

    .profile-btn:hover {
        background: #483d5e;
    }
    .modal-close {
        color: #8a7b96;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .modal-close:hover {
        background: #34293e;
        color: #cdc1b4;
    }
}
