@use "./navigation-bar.scss";
@use "./news-feed/news-feed.scss";
@use "./sign-in-up/sign-in.scss";
@use "./sign-in-up/sign-up.scss";
@use "./profile/profile.scss";
@use "./post.scss";
@use "./profile-modal.scss";
@use "./modal.scss";
@use "./photo-uploader.scss";
@use "./profile/_profile_post_composer.scss";
@use "./chat/chat.scss";

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Spectral:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0a090f;
    color: #cdc1b4;
    font-family: "Spectral", serif;
    line-height: 1.6;
}

/* Стилизованная полоса прокрутки */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a090f;
}

::-webkit-scrollbar-thumb {
    background: #34293e;
    border-radius: 4px;
}
